.Appcontact {
	text-align: center;
	max-width: 500px;
	margin: 20px auto;
    margin-bottom: 100px;
    background-color: rgb(218, 243, 243);
  }
  Form {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
