@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.nav{
    margin-left: 0px;
   position: sticky;
   top: 0px;
   right: 0px;
   text-align: right;
   display: flex;
   background-color:#FFCB74;

}
.nav a{
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;

}
h1{
font-size: 30px;
color: rgb(1, 1, 1);
margin-top: 15px;
margin-right: 100px;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: sticky;
    margin-bottom: 10px;
    display: flex;
    gap: 2.5rem;
}

ol{
    display: block;
    transition: .5s;
}

nav:hover ol{
    filter: blur(5px)
}

nav ol:hover{
    filter: blur(0px);
}

